.attention {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  background-color: #FFF500;
  z-index: 99;
}

.attention__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  padding: 12px 15px;
}

.attention__text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}