.team {
  margin-top: 40px;
}

.team__inner {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.team__media {

}

.team__media-img {
  width: auto;
  height: auto;
}

.team__content {
  margin-left: 40px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.team__content-title {
  text-align: left;
}

.team__content-text {
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 475px;
  line-height: 1.5;
}

.footer__img {
  max-width: 300px;
}

@media screen and (max-width: 1024px) {
  .team__media-img {
    max-width: 400px;
  }
}

@media screen and (max-width: 860px) {
  .team__inner {
    flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
  }
  .team__media {
    margin-bottom: 30px;
  }
  .team__content-text {
    min-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .team__media-img {
    max-width: 250px;
  }  
}

